body {
  background-color: linen;
}
/* CSS para el logo */
.containerLogo {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image {
  width: 50%;
  max-width: 500px;
}

/* CSS para el Formulario de Odontologos */
.containerForm {
  background-color: lavender;
  padding: 40px;
  border-radius: 12px;
  width: max-content;
}
#add_new_odontologo {
  width: var(--bs-breakpoint-lg);
}
.containerButtonRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}
.button_submit {
  margin: 20px;
}

/* CSS para el listado de Odontologos */
#div_odontologo_table {
  width: var(--bs-breakpoint-lg);
  background-color: white;
  padding: 10px;
}
/* CSS para el listado de Pacientes */
#div_paciente_table {
  background-color: white;
  width: var(--bs-breakpoint-lg);
  padding: 15px;
}
#add_new_paciente {
  width: var(--bs-breakpoint-lg);
}
#info_domicilio {
  border : solid 1px lightgray;
  border-radius: 20px;
  padding: 10px;
  margin: 15px;
  background-color: linen;
}
/* CSS para el listado de domicilios */
.containerDomicilio {
  border-radius: 20px;
  width: 100%;
}
.td_title_domicilio {
  font-weight: bold;
  color: darkslateblue;
}